@use './variables' as v;

.alert {
    padding: 1rem 0.5rem;
    background-color: grey;
    margin: 0.5rem 0;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 1.225rem;
    font-weight: 500;

    &--success{
        color:white;
        background: linear-gradient(to right, v.$success, v.$success-soft);
    }
}